-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: livrasion_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `livrasion_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `livrasion_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `livrasion_db`;

--
-- Table structure for table `app_settings`
--

DROP TABLE IF EXISTS `app_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `allow_register` tinyint(1) NOT NULL DEFAULT 1,
  `maintenance_mode` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `app_settings_creationuser_index` (`creationUser`),
  KEY `app_settings_edituser_index` (`editUser`),
  CONSTRAINT `app_settings_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `app_settings_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_settings`
--

LOCK TABLES `app_settings` WRITE;
/*!40000 ALTER TABLE `app_settings` DISABLE KEYS */;
INSERT INTO `app_settings` VALUES (1,0,0,'2025-09-15 14:56:34','2025-11-21 10:07:13',5,NULL,1);
/*!40000 ALTER TABLE `app_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banners`
--

DROP TABLE IF EXISTS `banners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `banners` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `image_url` varchar(255) NOT NULL,
  `button_text` varchar(255) DEFAULT NULL,
  `button_link` varchar(255) DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `scheduled` tinyint(1) NOT NULL DEFAULT 1,
  `type` enum('image','video') NOT NULL DEFAULT 'image',
  `start_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `end_date` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `banners_creationuser_index` (`creationUser`),
  KEY `banners_edituser_index` (`editUser`),
  CONSTRAINT `banners_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `banners_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banners`
--

LOCK TABLES `banners` WRITE;
/*!40000 ALTER TABLE `banners` DISABLE KEYS */;
/*!40000 ALTER TABLE `banners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brands`
--

DROP TABLE IF EXISTS `brands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `brands` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `brands_name_unique` (`name`),
  KEY `brands_creationuser_index` (`creationUser`),
  KEY `brands_edituser_index` (`editUser`),
  CONSTRAINT `brands_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `brands_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brands`
--

LOCK TABLES `brands` WRITE;
/*!40000 ALTER TABLE `brands` DISABLE KEYS */;
INSERT INTO `brands` VALUES (1,'Saint Laurent','2025-11-03 13:00:30','2025-11-03 13:00:30',1,NULL,NULL),(2,'Dior','2025-11-03 13:00:31','2025-11-03 13:00:31',1,NULL,NULL),(3,'Givenchy','2025-11-03 13:00:32','2025-11-03 13:00:32',1,NULL,NULL),(4,'Chlo├®','2025-11-03 13:00:33','2025-11-03 13:36:53',1,NULL,NULL),(5,'Celine','2025-11-03 13:00:38','2025-11-03 13:00:38',1,NULL,NULL),(6,'Louis Vuitton','2025-11-03 13:00:41','2025-11-03 13:00:41',1,NULL,NULL),(7,'Chanel','2025-11-03 13:01:24','2025-11-03 13:01:24',1,NULL,NULL),(8,'Ray-ban','2025-11-21 12:11:54','2025-11-21 12:11:54',1,1,1);
/*!40000 ALTER TABLE `brands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carts`
--

DROP TABLE IF EXISTS `carts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `product_id` bigint(20) unsigned NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `carts_user_id_product_id_unique` (`user_id`,`product_id`),
  KEY `carts_product_id_foreign` (`product_id`),
  KEY `carts_creationuser_index` (`creationUser`),
  KEY `carts_edituser_index` (`editUser`),
  CONSTRAINT `carts_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `carts_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `carts_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `carts_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1734 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carts`
--

LOCK TABLES `carts` WRITE;
/*!40000 ALTER TABLE `carts` DISABLE KEYS */;
INSERT INTO `carts` VALUES (1658,16,17,1,'2025-11-24 13:30:38','2025-11-24 13:30:38',1,16,16),(1730,1,17,1,'2025-12-12 13:22:46','2025-12-12 13:22:46',1,1,1),(1731,1,22,1,'2025-12-12 13:22:46','2025-12-12 13:22:46',1,1,1),(1732,1,23,1,'2025-12-12 13:22:46','2025-12-12 13:22:46',1,1,1),(1733,1,182,1,'2025-12-12 13:22:46','2025-12-12 13:22:46',1,1,1);
/*!40000 ALTER TABLE `carts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `slug` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `categories_slug_unique` (`slug`),
  KEY `categories_creationuser_index` (`creationUser`),
  KEY `categories_edituser_index` (`editUser`),
  CONSTRAINT `categories_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `categories_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `adresse` varchar(255) DEFAULT NULL,
  `code_postal` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `ville` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKsrv16ica2c1csub334bxjjb59` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
INSERT INTO `clients` VALUES (1,'123 Rue Test',NULL,'2026-02-06 09:09:37.000000','jean.dupont@test.tn',36.8065,10.1815,'Dupont','Jean','22334455','2026-02-06 09:09:37.000000','Tunis');
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `color_product`
--

DROP TABLE IF EXISTS `color_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `color_product` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `product_id` bigint(20) unsigned NOT NULL,
  `color_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `color_product_product_id_color_id_unique` (`product_id`,`color_id`),
  KEY `color_product_color_id_foreign` (`color_id`),
  KEY `color_product_creationuser_index` (`creationUser`),
  KEY `color_product_edituser_index` (`editUser`),
  CONSTRAINT `color_product_color_id_foreign` FOREIGN KEY (`color_id`) REFERENCES `colors` (`id`) ON DELETE CASCADE,
  CONSTRAINT `color_product_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `color_product_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `color_product_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `color_product`
--

LOCK TABLES `color_product` WRITE;
/*!40000 ALTER TABLE `color_product` DISABLE KEYS */;
/*!40000 ALTER TABLE `color_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `colors`
--

DROP TABLE IF EXISTS `colors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `colors` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `colors_name_unique` (`name`),
  KEY `colors_creationuser_index` (`creationUser`),
  KEY `colors_edituser_index` (`editUser`),
  CONSTRAINT `colors_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `colors_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `colors`
--

LOCK TABLES `colors` WRITE;
/*!40000 ALTER TABLE `colors` DISABLE KEYS */;
/*!40000 ALTER TABLE `colors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contact_messages`
--

DROP TABLE IF EXISTS `contact_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contact_messages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `order` varchar(255) DEFAULT NULL,
  `message` text NOT NULL,
  `consent` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `contact_messages_creationuser_index` (`creationUser`),
  KEY `contact_messages_edituser_index` (`editUser`),
  CONSTRAINT `contact_messages_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `contact_messages_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact_messages`
--

LOCK TABLES `contact_messages` WRITE;
/*!40000 ALTER TABLE `contact_messages` DISABLE KEYS */;
INSERT INTO `contact_messages` VALUES (2,'TRIKI','ahmedtriki.triki5@gmail.com','27680223','Paiement','','Est ce que vous accepter le VISA comme mode de paiemenet ?',1,'2025-10-17 16:31:27','2025-10-17 16:31:27',1,NULL,NULL);
/*!40000 ALTER TABLE `contact_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_notification_reads`
--

DROP TABLE IF EXISTS `customer_notification_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_notification_reads` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `notification_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `customer_notification_reads_notification_id_user_id_unique` (`notification_id`,`user_id`),
  KEY `customer_notification_reads_user_id_foreign` (`user_id`),
  CONSTRAINT `customer_notification_reads_notification_id_foreign` FOREIGN KEY (`notification_id`) REFERENCES `customer_notifications` (`id`) ON DELETE CASCADE,
  CONSTRAINT `customer_notification_reads_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_notification_reads`
--

LOCK TABLES `customer_notification_reads` WRITE;
/*!40000 ALTER TABLE `customer_notification_reads` DISABLE KEYS */;
INSERT INTO `customer_notification_reads` VALUES (66,57,1,'2025-10-24 08:43:57'),(67,56,1,'2025-10-24 08:44:47'),(70,82,1,'2025-12-04 14:32:03');
/*!40000 ALTER TABLE `customer_notification_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_notifications`
--

DROP TABLE IF EXISTS `customer_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `recipient_user_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `type` varchar(255) DEFAULT NULL,
  `meta` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `scheduled_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_notifications_recipient_user_id_is_active_index` (`recipient_user_id`,`is_active`),
  KEY `customer_notifications_scheduled_at_index` (`scheduled_at`),
  CONSTRAINT `customer_notifications_recipient_user_id_foreign` FOREIGN KEY (`recipient_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_notifications`
--

LOCK TABLES `customer_notifications` WRITE;
/*!40000 ALTER TABLE `customer_notifications` DISABLE KEYS */;
INSERT INTO `customer_notifications` VALUES (56,1,'Nouveau','Nouveau arrivage','new_arrival',NULL,NULL,1,NULL,'2025-10-15 02:34:55','2025-10-15 02:34:55'),(57,1,'Maintenance','Avis de maintenance','new_arrival',NULL,NULL,1,NULL,'2025-10-15 02:35:26','2025-10-15 02:35:26'),(82,NULL,'Bonjour','Bonjour','new_arrival',NULL,NULL,1,NULL,'2025-11-21 10:09:34','2025-11-21 10:09:34');
/*!40000 ALTER TABLE `customer_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `depots`
--

DROP TABLE IF EXISTS `depots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `depots` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `libelle_depot` varchar(255) NOT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `magasin_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  `actif` bit(1) DEFAULT NULL,
  `capacite_stockage` int(11) DEFAULT NULL,
  `code` varchar(255) NOT NULL,
  `code_postal` varchar(255) DEFAULT NULL,
  `latitude` double NOT NULL,
  `longitude` double NOT NULL,
  `nom` varchar(255) NOT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `ville` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `depots_magasin_id_index` (`magasin_id`),
  KEY `depots_creationuser_index` (`creationUser`),
  KEY `depots_edituser_index` (`editUser`),
  CONSTRAINT `depots_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `depots_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `depots_magasin_id_foreign` FOREIGN KEY (`magasin_id`) REFERENCES `magasins` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `depots`
--

LOCK TABLES `depots` WRITE;
/*!40000 ALTER TABLE `depots` DISABLE KEYS */;
/*!40000 ALTER TABLE `depots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filter_settings`
--

DROP TABLE IF EXISTS `filter_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filter_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `settings` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `filter_settings_creationuser_index` (`creationUser`),
  KEY `filter_settings_edituser_index` (`editUser`),
  CONSTRAINT `filter_settings_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `filter_settings_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filter_settings`
--

LOCK TABLES `filter_settings` WRITE;
/*!40000 ALTER TABLE `filter_settings` DISABLE KEYS */;
INSERT INTO `filter_settings` VALUES (1,'{\"price\":true,\"discounts\":true,\"subcats\":true,\"brands\":true,\"colors\":true,\"shapes\":true}','2025-11-04 14:58:09','2025-11-21 09:29:17',3,NULL,1);
/*!40000 ALTER TABLE `filter_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `footer_help_links`
--

DROP TABLE IF EXISTS `footer_help_links`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `footer_help_links` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `site_setting_id` bigint(20) unsigned NOT NULL,
  `key` varchar(255) NOT NULL,
  `label` varchar(255) NOT NULL,
  `url` varchar(255) NOT NULL,
  `visible` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `footer_help_links_key_unique` (`key`),
  KEY `footer_help_links_site_setting_id_foreign` (`site_setting_id`),
  KEY `footer_help_links_creationuser_index` (`creationUser`),
  KEY `footer_help_links_edituser_index` (`editUser`),
  CONSTRAINT `footer_help_links_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `footer_help_links_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `footer_help_links_site_setting_id_foreign` FOREIGN KEY (`site_setting_id`) REFERENCES `site_settings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `footer_help_links`
--

LOCK TABLES `footer_help_links` WRITE;
/*!40000 ALTER TABLE `footer_help_links` DISABLE KEYS */;
/*!40000 ALTER TABLE `footer_help_links` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `footer_service_lines`
--

DROP TABLE IF EXISTS `footer_service_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `footer_service_lines` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `site_setting_id` bigint(20) unsigned NOT NULL,
  `key` varchar(255) NOT NULL,
  `line` varchar(255) NOT NULL,
  `visible` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `footer_service_lines_key_unique` (`key`),
  KEY `footer_service_lines_site_setting_id_foreign` (`site_setting_id`),
  KEY `footer_service_lines_creationuser_index` (`creationUser`),
  KEY `footer_service_lines_edituser_index` (`editUser`),
  CONSTRAINT `footer_service_lines_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `footer_service_lines_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `footer_service_lines_site_setting_id_foreign` FOREIGN KEY (`site_setting_id`) REFERENCES `site_settings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `footer_service_lines`
--

LOCK TABLES `footer_service_lines` WRITE;
/*!40000 ALTER TABLE `footer_service_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `footer_service_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `footer_shop_links`
--

DROP TABLE IF EXISTS `footer_shop_links`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `footer_shop_links` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `site_setting_id` bigint(20) unsigned NOT NULL,
  `key` varchar(255) NOT NULL,
  `label` varchar(255) NOT NULL,
  `url` varchar(255) NOT NULL,
  `visible` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `footer_shop_links_key_unique` (`key`),
  KEY `footer_shop_links_site_setting_id_foreign` (`site_setting_id`),
  KEY `footer_shop_links_creationuser_index` (`creationUser`),
  KEY `footer_shop_links_edituser_index` (`editUser`),
  CONSTRAINT `footer_shop_links_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `footer_shop_links_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `footer_shop_links_site_setting_id_foreign` FOREIGN KEY (`site_setting_id`) REFERENCES `site_settings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `footer_shop_links`
--

LOCK TABLES `footer_shop_links` WRITE;
/*!40000 ALTER TABLE `footer_shop_links` DISABLE KEYS */;
/*!40000 ALTER TABLE `footer_shop_links` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `magasin`
--

DROP TABLE IF EXISTS `magasin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `magasin` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `actif` bit(1) DEFAULT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `code` varchar(255) NOT NULL,
  `code_postal` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `nom` varchar(255) NOT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `ville` varchar(255) DEFAULT NULL,
  `societe_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2iukwyj4hn3tu5vd3ugsubmcy` (`societe_id`),
  CONSTRAINT `FK2iukwyj4hn3tu5vd3ugsubmcy` FOREIGN KEY (`societe_id`) REFERENCES `societe` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `magasin`
--

LOCK TABLES `magasin` WRITE;
/*!40000 ALTER TABLE `magasin` DISABLE KEYS */;
INSERT INTO `magasin` VALUES (1,'','20 Rue de la Liberte','MAG001',NULL,NULL,NULL,NULL,'Magasin Central',NULL,'Tunis',1);
/*!40000 ALTER TABLE `magasin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `magasins`
--

DROP TABLE IF EXISTS `magasins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `magasins` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom_magasin` varchar(255) NOT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `societe_id` bigint(20) unsigned NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `ville` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  `creation_user` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `magasins_societe_id_ville_index` (`societe_id`,`ville`),
  KEY `magasins_creationuser_index` (`creationUser`),
  KEY `magasins_edituser_index` (`editUser`),
  CONSTRAINT `magasins_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `magasins_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `magasins_societe_id_foreign` FOREIGN KEY (`societe_id`) REFERENCES `societes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `magasins`
--

LOCK TABLES `magasins` WRITE;
/*!40000 ALTER TABLE `magasins` DISABLE KEYS */;
/*!40000 ALTER TABLE `magasins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mail_configurations`
--

DROP TABLE IF EXISTS `mail_configurations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mail_configurations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `key` varchar(255) NOT NULL,
  `value` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mail_configurations_key_unique` (`key`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mail_configurations`
--

LOCK TABLES `mail_configurations` WRITE;
/*!40000 ALTER TABLE `mail_configurations` DISABLE KEYS */;
INSERT INTO `mail_configurations` VALUES (1,'smtp_host','ssl0.ovh.net','2025-11-24 14:03:35','2025-11-24 14:47:02'),(2,'smtp_port','587','2025-11-24 14:03:35','2025-11-24 14:47:02'),(3,'smtp_username','noreply@tufratech.com','2025-11-24 14:03:35','2025-12-04 11:48:46'),(4,'smtp_password','noreplyTufraTech','2025-11-24 14:03:35','2025-12-04 11:48:46'),(5,'smtp_encryption','tls','2025-11-24 14:03:35','2025-11-24 14:03:35'),(6,'smtp_from_name','Support','2025-11-24 14:03:35','2025-11-24 14:47:02'),(7,'smtp_from_email','noreply@tufratech.com','2025-11-24 14:03:35','2025-12-04 11:48:46');
/*!40000 ALTER TABLE `mail_configurations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mails`
--

DROP TABLE IF EXISTS `mails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mails` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sender` varchar(255) NOT NULL,
  `receiver` varchar(255) NOT NULL,
  `cc` text DEFAULT NULL,
  `cci` text DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `body` longtext DEFAULT NULL,
  `attachment` varchar(255) DEFAULT NULL,
  `type` varchar(32) NOT NULL DEFAULT 'admin',
  `attempt` int(10) unsigned NOT NULL DEFAULT 0,
  `status` enum('NEW','PENDING','SENT','ERROR') NOT NULL DEFAULT 'NEW',
  `send_date` timestamp NULL DEFAULT NULL,
  `requested_send_date` timestamp NULL DEFAULT NULL,
  `error_message` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mails_type_index` (`type`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mails`
--

LOCK TABLES `mails` WRITE;
/*!40000 ALTER TABLE `mails` DISABLE KEYS */;
/*!40000 ALTER TABLE `mails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `newsletter_subscribers`
--

DROP TABLE IF EXISTS `newsletter_subscribers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `newsletter_subscribers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `subscribed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `newsletter_subscribers_email_unique` (`email`),
  KEY `newsletter_subscribers_creationuser_index` (`creationUser`),
  KEY `newsletter_subscribers_edituser_index` (`editUser`),
  CONSTRAINT `newsletter_subscribers_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `newsletter_subscribers_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `newsletter_subscribers`
--

LOCK TABLES `newsletter_subscribers` WRITE;
/*!40000 ALTER TABLE `newsletter_subscribers` DISABLE KEYS */;
INSERT INTO `newsletter_subscribers` VALUES (77,'ahmedtriki.triki5@gmail.com',1,'2025-11-24 13:19:21','2025-11-24 13:19:22','2025-11-24 13:19:22',1,1,1);
/*!40000 ALTER TABLE `newsletter_subscribers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `type` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text DEFAULT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_created_by_index` (`created_by`),
  KEY `notifications_creationuser_index` (`creationUser`),
  KEY `notifications_edituser_index` (`editUser`),
  CONSTRAINT `notifications_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `notifications_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=274 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `order_id` bigint(20) unsigned NOT NULL,
  `product_id` bigint(20) unsigned NOT NULL,
  `promotion_percentage` int(11) DEFAULT NULL,
  `price_uht` decimal(10,2) NOT NULL,
  `id_tva` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  `montant_ht` decimal(10,2) DEFAULT NULL,
  `montant_ttc` decimal(10,2) DEFAULT NULL,
  `montant_tva` decimal(10,2) DEFAULT NULL,
  `prix_unitaire_ht` decimal(10,2) DEFAULT NULL,
  `prix_unitaire_ttc` decimal(10,2) DEFAULT NULL,
  `quantite` int(11) NOT NULL,
  `remise` decimal(38,2) DEFAULT NULL,
  `taux_tva` decimal(5,2) DEFAULT NULL,
  `produit_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `order_items_order_id_foreign` (`order_id`),
  KEY `order_items_product_id_foreign` (`product_id`),
  KEY `order_items_creationuser_index` (`creationUser`),
  KEY `order_items_edituser_index` (`editUser`),
  KEY `order_items_id_tva_foreign` (`id_tva`),
  CONSTRAINT `order_items_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `order_items_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `order_items_id_tva_foreign` FOREIGN KEY (`id_tva`) REFERENCES `tva` (`id`) ON DELETE SET NULL,
  CONSTRAINT `order_items_order_id_foreign` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `order_items_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=127 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `status` varchar(255) NOT NULL,
  `shipping_address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `payment_method` varchar(255) NOT NULL,
  `payment_status` varchar(255) NOT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `order_number` varchar(255) NOT NULL,
  `stripe_session_id` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  `adresse_livraison` varchar(255) DEFAULT NULL,
  `date_commande` datetime(6) DEFAULT NULL,
  `date_livraison_effective` datetime(6) DEFAULT NULL,
  `date_livraison_prevue` datetime(6) DEFAULT NULL,
  `latitude_livraison` double DEFAULT NULL,
  `longitude_livraison` double DEFAULT NULL,
  `montant_ht` decimal(10,2) DEFAULT NULL,
  `montant_ttc` decimal(10,2) DEFAULT NULL,
  `montant_tva` decimal(10,2) DEFAULT NULL,
  `numero` varchar(255) NOT NULL,
  `client_id` bigint(20) DEFAULT NULL,
  `depot_id` bigint(20) DEFAULT NULL,
  `livreur_id` bigint(20) DEFAULT NULL,
  `societe_id` bigint(20) unsigned DEFAULT NULL,
  `collected` bit(1) DEFAULT NULL,
  `collection_plan` longtext DEFAULT NULL,
  `date_collection` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `orders_order_number_unique` (`order_number`),
  KEY `orders_user_id_foreign` (`user_id`),
  KEY `idx_orders_payment_status` (`payment_status`),
  KEY `orders_creationuser_index` (`creationUser`),
  KEY `orders_edituser_index` (`editUser`),
  KEY `FKaj93d76t4qyjdtp21imnvw4v0` (`livreur_id`),
  KEY `FKm2dep9derpoaehshbkkatam3v` (`client_id`),
  KEY `idx_orders_societe` (`societe_id`),
  CONSTRAINT `FKaj93d76t4qyjdtp21imnvw4v0` FOREIGN KEY (`livreur_id`) REFERENCES `utilisateurs` (`id`),
  CONSTRAINT `FKm2dep9derpoaehshbkkatam3v` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`),
  CONSTRAINT `fk_orders_societe` FOREIGN KEY (`societe_id`) REFERENCES `societes` (`id`),
  CONSTRAINT `orders_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `orders_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `orders_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=118 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB AUTO_INCREMENT=330 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pre_order_items`
--

DROP TABLE IF EXISTS `pre_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pre_order_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pre_order_id` bigint(20) unsigned NOT NULL,
  `product_id` bigint(20) unsigned NOT NULL,
  `depot_id` bigint(20) unsigned DEFAULT NULL,
  `magasin_id` bigint(20) unsigned DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `price_uht` decimal(12,2) NOT NULL,
  `promotion_percentage` int(11) NOT NULL DEFAULT 0,
  `id_tva` bigint(20) unsigned DEFAULT NULL,
  `product_name` varchar(255) DEFAULT NULL,
  `product_reference` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pre_order_items_pre_order_id_index` (`pre_order_id`),
  KEY `pre_order_items_product_id_index` (`product_id`),
  KEY `pre_order_items_depot_id_index` (`depot_id`),
  KEY `pre_order_items_magasin_id_index` (`magasin_id`),
  CONSTRAINT `pre_order_items_depot_id_foreign` FOREIGN KEY (`depot_id`) REFERENCES `depots` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pre_order_items_magasin_id_foreign` FOREIGN KEY (`magasin_id`) REFERENCES `magasins` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pre_order_items_pre_order_id_foreign` FOREIGN KEY (`pre_order_id`) REFERENCES `pre_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pre_order_items_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pre_order_items`
--

LOCK TABLES `pre_order_items` WRITE;
/*!40000 ALTER TABLE `pre_order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pre_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pre_orders`
--

DROP TABLE IF EXISTS `pre_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pre_orders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `status` enum('pending','confirmed','cancelled','expired') NOT NULL DEFAULT 'pending',
  `total_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `shipping_address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`shipping_address`)),
  `expires_at` timestamp NULL DEFAULT NULL,
  `order_id` bigint(20) unsigned DEFAULT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pre_orders_user_id_index` (`user_id`),
  KEY `pre_orders_status_index` (`status`),
  KEY `pre_orders_expires_at_index` (`expires_at`),
  KEY `pre_orders_order_id_index` (`order_id`),
  CONSTRAINT `pre_orders_order_id_foreign` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pre_orders_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pre_orders`
--

LOCK TABLES `pre_orders` WRITE;
/*!40000 ALTER TABLE `pre_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `pre_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_views`
--

DROP TABLE IF EXISTS `product_views`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_views` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `product_id` bigint(20) unsigned NOT NULL,
  `views` int(11) NOT NULL DEFAULT 0,
  `last_visited_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `product_views_user_id_product_id_unique` (`user_id`,`product_id`),
  KEY `product_views_product_id_foreign` (`product_id`),
  CONSTRAINT `product_views_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `product_views_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_views`
--

LOCK TABLES `product_views` WRITE;
/*!40000 ALTER TABLE `product_views` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_views` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `reference` varchar(255) NOT NULL,
  `seo_name` varchar(255) DEFAULT NULL,
  `description` text NOT NULL,
  `tags` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`tags`)),
  `price_uht` decimal(10,2) NOT NULL,
  `id_tva` bigint(20) unsigned DEFAULT NULL,
  `promotion_percentage` int(11) DEFAULT NULL,
  `stock` int(11) NOT NULL DEFAULT 0,
  `category_id` bigint(20) unsigned NOT NULL,
  `images` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `try_on_image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `subcategory_id` bigint(20) unsigned DEFAULT NULL,
  `brand_id` bigint(20) unsigned DEFAULT NULL,
  `shape_id` bigint(20) unsigned DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `products_reference_unique` (`reference`),
  UNIQUE KEY `products_seo_name_unique` (`seo_name`),
  KEY `products_category_id_foreign` (`category_id`),
  KEY `products_subcategory_id_foreign` (`subcategory_id`),
  KEY `products_category_id_subcategory_id_index` (`category_id`,`subcategory_id`),
  KEY `products_brand_id_foreign` (`brand_id`),
  KEY `products_shape_id_foreign` (`shape_id`),
  KEY `products_creationuser_index` (`creationUser`),
  KEY `products_edituser_index` (`editUser`),
  KEY `products_id_tva_foreign` (`id_tva`),
  CONSTRAINT `products_brand_id_foreign` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`id`) ON DELETE SET NULL,
  CONSTRAINT `products_category_id_foreign` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE CASCADE,
  CONSTRAINT `products_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `products_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `products_id_tva_foreign` FOREIGN KEY (`id_tva`) REFERENCES `tva` (`id`) ON DELETE SET NULL,
  CONSTRAINT `products_shape_id_foreign` FOREIGN KEY (`shape_id`) REFERENCES `shapes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `products_subcategory_id_foreign` FOREIGN KEY (`subcategory_id`) REFERENCES `subcategories` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=183 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products_backup`
--

DROP TABLE IF EXISTS `products_backup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products_backup` (
  `id` bigint(20) unsigned NOT NULL DEFAULT 0,
  `name` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `promotion_percentage` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `promo_price` decimal(10,2) DEFAULT NULL,
  `stock` int(11) NOT NULL DEFAULT 0,
  `category_id` bigint(20) unsigned NOT NULL,
  `images` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `try_on_image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `marque` enum('Aviator','Oakley','Gucci','Prada','Armani','Ray-Ban','Persol','Dior','Versace','Tom Ford','Burberry','Chanel','Fendi','Carrera','Police') NOT NULL,
  `couleur` varchar(50) DEFAULT NULL,
  `forme` enum('round','square','rectangle','cat-eye','aviator','oval','hexagonal','geometric','butterfly','wayfarer','clubmaster','oversized','shield','wrap','pilot') DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products_backup`
--

LOCK TABLES `products_backup` WRITE;
/*!40000 ALTER TABLE `products_backup` DISABLE KEYS */;
/*!40000 ALTER TABLE `products_backup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produits`
--

DROP TABLE IF EXISTS `produits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produits` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `actif` bit(1) DEFAULT NULL,
  `categorie` varchar(255) DEFAULT NULL,
  `code` varchar(255) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `designation` varchar(255) NOT NULL,
  `prix_ht` decimal(10,2) DEFAULT NULL,
  `prix_ttc` decimal(10,2) DEFAULT NULL,
  `unite` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `tva_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produits`
--

LOCK TABLES `produits` WRITE;
/*!40000 ALTER TABLE `produits` DISABLE KEYS */;
INSERT INTO `produits` VALUES (1,'',NULL,'SMART-001','2026-02-06 09:20:35.000000','Dernier modele','Smartphone X',999.99,999.99,NULL,'2026-02-06 09:20:35.000000',4);
/*!40000 ALTER TABLE `produits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_tokens`
--

DROP TABLE IF EXISTS `refresh_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `refresh_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `personal_access_token_id` bigint(20) unsigned DEFAULT NULL,
  `refresh_token_hash` varchar(255) NOT NULL,
  `device_name` varchar(255) DEFAULT NULL,
  `ip` varchar(45) DEFAULT NULL,
  `expires_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `refresh_tokens_user_id_foreign` (`user_id`),
  CONSTRAINT `refresh_tokens_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_tokens`
--

LOCK TABLES `refresh_tokens` WRITE;
/*!40000 ALTER TABLE `refresh_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shapes`
--

DROP TABLE IF EXISTS `shapes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shapes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `shapes_name_unique` (`name`),
  KEY `shapes_creationuser_index` (`creationUser`),
  KEY `shapes_edituser_index` (`editUser`),
  CONSTRAINT `shapes_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `shapes_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shapes`
--

LOCK TABLES `shapes` WRITE;
/*!40000 ALTER TABLE `shapes` DISABLE KEYS */;
INSERT INTO `shapes` VALUES (1,'Carr├®','2025-11-03 13:00:30','2025-11-03 13:00:30',1,NULL,NULL),(2,'Hexagonale','2025-11-03 13:00:31','2025-11-03 13:00:31',1,NULL,NULL),(3,'Oeil de chat','2025-11-03 13:00:33','2025-11-03 13:00:33',1,NULL,NULL),(4,'Alumne','2025-11-03 13:00:36','2025-11-03 13:00:36',1,NULL,NULL),(5,'Rond','2025-11-03 13:00:39','2025-11-03 13:00:39',1,NULL,NULL),(6,'Rectangle','2025-11-03 13:00:41','2025-11-03 13:00:41',1,NULL,NULL),(7,'Ovale','2025-11-03 13:00:42','2025-11-03 13:00:42',1,NULL,NULL),(8,'Papillon','2025-11-03 13:01:33','2025-11-03 13:01:33',1,NULL,NULL);
/*!40000 ALTER TABLE `shapes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site_settings`
--

DROP TABLE IF EXISTS `site_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `site_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `site_name` varchar(255) NOT NULL DEFAULT '├ëclaire',
  `tagline` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `show_socials` tinyint(1) NOT NULL DEFAULT 1,
  `footer_shop_title` varchar(255) NOT NULL DEFAULT 'Boutique',
  `footer_help_title` varchar(255) NOT NULL DEFAULT 'Aide',
  `footer_services_title` varchar(255) NOT NULL DEFAULT 'Visite & Services',
  `show_footer` tinyint(1) NOT NULL DEFAULT 1,
  `logo_url` varchar(255) DEFAULT NULL,
  `favicon_url` varchar(255) DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `site_settings_creationuser_index` (`creationUser`),
  KEY `site_settings_edituser_index` (`editUser`),
  CONSTRAINT `site_settings_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `site_settings_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site_settings`
--

LOCK TABLES `site_settings` WRITE;
/*!40000 ALTER TABLE `site_settings` DISABLE KEYS */;
INSERT INTO `site_settings` VALUES (1,'Visioncraft',NULL,'Lunettes de caract├¿re, conseils dÔÇÖopticiens et essayage virtuel hautement r├®aliste.','Rue 7 Novembre, Sfax 3000','+216 27 680 223','support@tufra.com',1,'Boutiques','Aide','Visite & Services',1,'https://cdn.example.com/assets/logo.png','https://cdn.example.com/assets/favicon.ico',1,'2025-11-03 15:47:38','2025-11-24 15:36:26',3,NULL,1);
/*!40000 ALTER TABLE `site_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site_social_links`
--

DROP TABLE IF EXISTS `site_social_links`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `site_social_links` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `site_setting_id` bigint(20) unsigned NOT NULL,
  `key` varchar(255) NOT NULL,
  `label` varchar(255) NOT NULL,
  `url` varchar(255) NOT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `visible` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `site_social_links_key_unique` (`key`),
  KEY `site_social_links_site_setting_id_foreign` (`site_setting_id`),
  KEY `site_social_links_creationuser_index` (`creationUser`),
  KEY `site_social_links_edituser_index` (`editUser`),
  CONSTRAINT `site_social_links_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `site_social_links_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `site_social_links_site_setting_id_foreign` FOREIGN KEY (`site_setting_id`) REFERENCES `site_settings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site_social_links`
--

LOCK TABLES `site_social_links` WRITE;
/*!40000 ALTER TABLE `site_social_links` DISABLE KEYS */;
/*!40000 ALTER TABLE `site_social_links` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `societe`
--

DROP TABLE IF EXISTS `societe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `societe` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `adresse` varchar(255) DEFAULT NULL,
  `code_postal` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `fax` varchar(255) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `matricule_fiscal` varchar(255) DEFAULT NULL,
  `raison_sociale` varchar(255) NOT NULL,
  `registre_commerce` varchar(255) DEFAULT NULL,
  `sigle` varchar(255) DEFAULT NULL,
  `site_web` varchar(255) DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `ville` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `societe`
--

LOCK TABLES `societe` WRITE;
/*!40000 ALTER TABLE `societe` DISABLE KEYS */;
INSERT INTO `societe` VALUES (1,'Avenue H.Bourguiba',NULL,NULL,NULL,NULL,NULL,NULL,NULL,'Ma Societe SARL',NULL,'MSS',NULL,NULL,'Tunis');
/*!40000 ALTER TABLE `societe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `societes`
--

DROP TABLE IF EXISTS `societes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `societes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `raison_sociale` varchar(255) NOT NULL,
  `mf` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  `creation_user` bigint(20) DEFAULT NULL,
  `edit_user` bigint(20) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `societes_mf_unique` (`mf`),
  KEY `societes_creationuser_index` (`creationUser`),
  KEY `societes_edituser_index` (`editUser`),
  CONSTRAINT `societes_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `societes_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `societes`
--

LOCK TABLES `societes` WRITE;
/*!40000 ALTER TABLE `societes` DISABLE KEYS */;
INSERT INTO `societes` VALUES (1,'SOC LUNETTES TUNIS','1234567/A/M/001','2025-11-05 14:31:23','2025-11-06 12:11:58',1,NULL,NULL,NULL,NULL,34.7468,10.7812),(2,'SOC LUNETTES SOUSSE','9988776/B/C/111','2025-11-05 14:31:23','2025-11-06 12:12:11',1,NULL,NULL,NULL,NULL,NULL,NULL),(3,'SOC LUNETTES SFAX','8484488/F/455','2025-11-05 15:35:48','2025-11-06 12:12:27',1,NULL,NULL,NULL,NULL,NULL,NULL),(4,'Novalair','54849549/77','2025-11-21 09:30:16','2025-11-21 09:30:16',1,1,1,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `societes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocks`
--

DROP TABLE IF EXISTS `stocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stocks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `depot_id` bigint(20) unsigned NOT NULL,
  `product_id` bigint(20) unsigned NOT NULL,
  `quantity` int(10) unsigned NOT NULL DEFAULT 0,
  `max_quantity` int(10) unsigned DEFAULT NULL,
  `min_quantity` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  `derniere_entree` datetime(6) DEFAULT NULL,
  `derniere_sortie` datetime(6) DEFAULT NULL,
  `quantite_disponible` decimal(38,2) NOT NULL,
  `quantite_maximum` decimal(38,2) DEFAULT NULL,
  `quantite_minimum` decimal(38,2) DEFAULT NULL,
  `quantite_reservee` decimal(38,2) DEFAULT NULL,
  `produit_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `stocks_depot_id_product_id_unique` (`depot_id`,`product_id`),
  KEY `stocks_product_id_index` (`product_id`),
  KEY `stocks_creationuser_index` (`creationUser`),
  KEY `stocks_edituser_index` (`editUser`),
  CONSTRAINT `stocks_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stocks_depot_id_foreign` FOREIGN KEY (`depot_id`) REFERENCES `depots` (`id`) ON DELETE CASCADE,
  CONSTRAINT `stocks_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stocks_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocks`
--

LOCK TABLES `stocks` WRITE;
/*!40000 ALTER TABLE `stocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `stocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subcategories`
--

DROP TABLE IF EXISTS `subcategories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subcategories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `category_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'active',
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `subcategories_slug_unique` (`slug`),
  KEY `subcategories_category_id_status_index` (`category_id`,`status`),
  KEY `subcategories_creationuser_index` (`creationUser`),
  KEY `subcategories_edituser_index` (`editUser`),
  CONSTRAINT `subcategories_category_id_foreign` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `subcategories_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subcategories_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subcategories`
--

LOCK TABLES `subcategories` WRITE;
/*!40000 ALTER TABLE `subcategories` DISABLE KEYS */;
INSERT INTO `subcategories` VALUES (1,1,'Soin lunettes normales','Lunettes-Soin','active','Le catalogue de lunettes Soin','2025-10-31 12:50:52','2025-11-21 12:41:18',3,NULL,1),(2,1,'Vision eyeglasses','Vision-eyeglasses','inactive','Vision special for disabled persons','2025-10-31 12:52:17','2025-11-21 12:39:50',2,NULL,1),(3,2,'Polarized Sunglasses','polarized-sunglasses','inactive','Sunglasses for Luxuary style','2025-10-31 12:55:32','2025-11-21 12:39:48',4,NULL,1),(6,1,'test eyeglasses','test-eyeglasses','active','test eyeglasses','2025-10-31 14:07:54','2025-11-21 12:41:20',3,NULL,1);
/*!40000 ALTER TABLE `subcategories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tva`
--

DROP TABLE IF EXISTS `tva`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tva` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `rate` decimal(5,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `actif` bit(1) DEFAULT NULL,
  `code` varchar(255) NOT NULL,
  `libelle` varchar(255) NOT NULL,
  `taux` decimal(5,2) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tva_rate_unique` (`rate`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tva`
--

LOCK TABLES `tva` WRITE;
/*!40000 ALTER TABLE `tva` DISABLE KEYS */;
INSERT INTO `tva` VALUES (1,0.00,NULL,NULL,NULL,'','',0.00),(2,7.00,NULL,NULL,NULL,'','',0.00),(3,13.00,NULL,NULL,NULL,'','',0.00),(4,19.00,NULL,NULL,NULL,'','',0.00);
/*!40000 ALTER TABLE `tva` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `postal_code` varchar(255) DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('user','admin') NOT NULL DEFAULT 'user',
  `remember_token` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `code_postal` varchar(255) DEFAULT NULL,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `ville` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `profile_image` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_creationuser_index` (`creationUser`),
  KEY `users_edituser_index` (`editUser`),
  CONSTRAINT `users_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateurs` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `actif` bit(1) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `nom` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `role` enum('GERANT','LIVREUR') NOT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `derniere_position_at` datetime(6) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `societe_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6ldvumu3hqvnmmxy1b6lsxwqy` (`email`),
  KEY `FKal2stjx8julv9p0hhd99d6mo1` (`societe_id`),
  CONSTRAINT `FKal2stjx8julv9p0hhd99d6mo1` FOREIGN KEY (`societe_id`) REFERENCES `societe` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vto`
--

DROP TABLE IF EXISTS `vto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vto` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `product_id` bigint(20) unsigned NOT NULL,
  `glb_path` varchar(255) NOT NULL,
  `HDRI` tinyint(1) NOT NULL DEFAULT 0,
  `scale_factor` double(8,2) NOT NULL DEFAULT 1.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vto_product_id_foreign` (`product_id`),
  KEY `vto_creationuser_index` (`creationUser`),
  KEY `vto_edituser_index` (`editUser`),
  CONSTRAINT `vto_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `vto_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `vto_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vto`
--

LOCK TABLES `vto` WRITE;
/*!40000 ALTER TABLE `vto` DISABLE KEYS */;
INSERT INTO `vto` VALUES (5,17,'/storage/glbs/vto_68f77ab3c4289.glb',1,1.90,'2025-10-21 12:21:07','2025-11-21 09:58:54',2,NULL,1),(6,25,'/storage/glbs/vto_68f77e124784f.glb',1,1.40,'2025-10-21 12:35:30','2025-10-21 12:35:54',1,NULL,NULL);
/*!40000 ALTER TABLE `vto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `websockets_statistics_entries`
--

DROP TABLE IF EXISTS `websockets_statistics_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `websockets_statistics_entries` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `app_id` varchar(255) NOT NULL,
  `peak_connections_count` int(11) NOT NULL,
  `websocket_messages_count` int(11) NOT NULL,
  `api_messages_count` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2120 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `websockets_statistics_entries`
--

LOCK TABLES `websockets_statistics_entries` WRITE;
/*!40000 ALTER TABLE `websockets_statistics_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `websockets_statistics_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wishlists`
--

DROP TABLE IF EXISTS `wishlists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wishlists` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `product_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `creationUser` bigint(20) unsigned DEFAULT NULL,
  `editUser` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `wishlists_user_id_product_id_unique` (`user_id`,`product_id`),
  KEY `wishlists_product_id_foreign` (`product_id`),
  KEY `wishlists_creationuser_index` (`creationUser`),
  KEY `wishlists_edituser_index` (`editUser`),
  CONSTRAINT `wishlists_creationUser_fk` FOREIGN KEY (`creationUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `wishlists_editUser_fk` FOREIGN KEY (`editUser`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `wishlists_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `wishlists_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=380 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wishlists`
--

LOCK TABLES `wishlists` WRITE;
/*!40000 ALTER TABLE `wishlists` DISABLE KEYS */;
INSERT INTO `wishlists` VALUES (354,16,17,'2025-10-28 12:55:43','2025-10-28 12:55:43',1,NULL,NULL),(355,16,18,'2025-10-28 12:55:43','2025-10-28 12:55:43',1,NULL,NULL),(356,16,70,'2025-10-28 12:55:43','2025-10-28 12:55:43',1,NULL,NULL),(357,16,56,'2025-10-28 12:55:43','2025-10-28 12:55:43',1,NULL,NULL),(358,16,25,'2025-10-28 12:55:43','2025-10-28 12:55:43',1,NULL,NULL),(379,1,18,'2025-12-04 14:32:13','2025-12-04 14:32:13',1,1,1);
/*!40000 ALTER TABLE `wishlists` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-11 11:33:17
